In [1]:
import pandas as pd

In [2]:
reviews = pd.read_csv("./Reviews.csv")

In [4]:
listings = pd.read_csv("./Listings.csv")
low_memory=False

In [5]:
reviews.head()

   listing_id  review_id        date  reviewer_id
0       11798  330265172  2018-09-30     11863072
1       15383  330103585  2018-09-30     39147453
2       16455  329985788  2018-09-30      1125378
3       17919  330016899  2018-09-30    172717984
4       26827  329995638  2018-09-30     17542859

In [18]:
print('reviews: ',len(reviews))
print('listings: ',len(listings))

reviews:  5373143
listings:  279712

In [8]:
listings.head(7)
#listing_ids are unique
#host_ids are not unique

,listing_id,name,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,...,minimum_nights,maximum_nights,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable
0,281420,"Beautiful Flat in le Village Montmartre, Paris",1466919,2011-12-03,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
1,3705183,39 mÂ² Paris (Sacre CÅ“ur),10328771,2013-11-29,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
2,4082273,"Lovely apartment with Terrace, 60m2",19252768,2014-07-31,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
3,4797344,Cosy studio (close to Eiffel tower),10668311,2013-12-17,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
4,4823489,Close to Eiffel Tower - Beautiful flat : 2 rooms,24837558,2014-12-14,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
5,4898654,NEW - Charming apartment Le Marais,505535,2011-04-13,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
6,6021700,2P - Entre Bastille et Republique,8053690,2013-08-09,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f

In [22]:
unique_listing = listings['host_id'].unique()
print(len(unique_listing))

182024

In [ ]:
#ERB

# listing_info
# -
# listing_id INT PK
# host_id INT 
# name VARCHAR(40)
# host_since DATE
# host_location VARCHAR(50)
# minimum_nights INT
# maximum_nights INT
# instant_bookable BOOL

# listing_review_stats
# -
# listing_id INT PK FK - listing_info.listing_id
# listing_rating DOUBLE
# listing_review_accuracy DOUBLE
# listing_review_checkin DOUBLE
# listing_review_communication DOUBLE
# listing_review_location DOUBLE
# listing_review_value DOUBLE
# listing_total_reviews DOUBLE

# host_review_stats
# -
# host_id INT PK FK - listing_info.host_id
# host_review_rating DOUBLE
# host_review_accuracy DOUBLE
# host_review_checkin DOUBLE
# host_review_communication DOUBLE
# host_review_location DOUBLE
# host_review_value DOUBLE
# host_total_reviews DOUBLE

# host_location_review_stats
# -
# host_location VARCHAR(50) PK FK - listing_info.host_location
# host_location_reviewrating DOUBLE
# host_location_reviewaccuracy DOUBLE
# host_location_review_checkin DOUBLE
# host_location_reviewcommunication DOUBLE
# host_location_review_location DOUBLE
# host_location_review_value DOUBLE
# host_location_total_reviews DOUBLE

# review_frequency
# -
# listing_id INT FK - listing_info.listing_id
# review_id INT PK